$color-first: #ffff;  /* bianco */
$color-second:#fcb900; /* giallo */ 
$color-third:#333333; /* grigio scuro */ 
$color-fourth:#2d4649; /* verde */ 
$color-fifth:#edf2f5; /* grigio chiaro */ 
$color-sixth:#aaaaaa; /* grigio */ 
